# Ignore local Boost cache (large file)
ios/boost_temp/

# CocoaPods
ios/Pods/

# Android build
android/.gradle/
android/app/build/

# iOS build
ios/build/

# Node
node_modules/

# Misc
.expo/
.DS_Store
